# Console appender definition json: {"appender", "stream"}
log-console-appender = {"appender":"stderr","stream":"std_error"}

# File appender definition json:  {"appender", "file"}
log-file-appender = {"appender":"p2p","file":"logs/p2p/p2p.log"}

# Logger definition json: {"name", "level", "appender"}
log-logger = {"name":"default","level":"info","appender":"stderr"}
log-logger = {"name":"p2p","level":"info","appender":"stderr"}

rpc-endpoint = 0.0.0.0:8090
p2p-endpoint = 0.0.0.0:2001

seed-node = 23.97.210.36:2001           # kepler.westeurope.cloudapp.azure.com
seed-node = 23.97.135.184:2001          # trappist.westeurope.cloudapp.azure.com
seed-node = 137.117.165.158:2001        # centauri.westeurope.cloudapp.azure.com
seed-node = 40.118.123.96:2001          # kapteyn.westeurope.cloudapp.azure.com

shared-file-size = 1G
enable-stale-production = false

enable-plugin = witness
public-api = database_api witness_api login_api

#witness = "witness-name"
#private-key = owner-private-key
